<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>videoPlay</title>
	 <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" type="text/css" href="/components/videoplayer/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/components/videoplayer/css/videoPlay.css">
</head>
<body>
    <div id="player"></div>
</body>
    <script type="text/javascript" src="/components/videoplayer/js/util.js"></script>
    <script type="text/javascript" src="/components/videoplayer/js/videoPlay.js"></script>
</html>