 .glyphicon{
    color: #cac7c7;
    font-size: 38px;
    float: left;
    margin-left: 2%;
    margin-top: 14%;
    z-index: 88;
 }   
#imgwrapper img{
 	float: left;
    transform: scale(0.8) rotateY(30deg);
 }
#flowmain{
	width: 100%;
	margin-top: 5%;
}
#imgactive{
	width: 36% !important;
 	transform: scale(1) rotate(0deg) !important;
 }

 #imgwrapper img{
    width: 5%;
    height: 392px;
    margin-left: 2%;
 }
#imgfooter span{
    border-radius: 55%;
    border: 1px solid #cac7c7;
    width: 20px;
    height: 20px;
    padding: 5px;
    margin-left: 1%;
    display: block;
    float: left;
 }
#imgfooter{
    float: left;
    margin: 5px 42%;
    width: 50%;
    height: 20px;
 }
 footer{
 	float: left;
    margin-left: 10%;
    margin-top: 6%;
    width: 78%;
 }
#imgfooter span.active{
    background-color: #007effe0;
 }
 @media (max-width: 872px){
.glyphicon {
    color: #cac7c7;
    font-size: 38px;
    float: left;
    margin-left: 2%;
    margin-top: 30%;
    z-index: 88;
}
 	 
 }
 @media (max-width: 254px){
.glyphicon {
    color: #cac7c7;
    font-size: 38px;
    float: left;
    margin-left: 2%;
    margin-top: 89%;
    z-index: 88;
}
#imgfooter{
    display: none;
 }
 #imgwrapper img {
    width: 1%;
}
 }
 @media (min-width:874px){
 #imgwrapper{
    margin-left: 13%;
 }
 }