body{
	overflow-x: hidden;
	overflow-y: auto;

}
#particles-js{
	position: absolute;
	top:0;
	width: 100%;
	z-index: -1;
}
.glyphicon{
	margin-right: 4px;
}
.alert {
    padding: 12px !important;
    margin-bottom: 8px !important;
}
.alert::before{
	position: absolute;
    content: "";
    display: block;
}
.media-top img{
	width: 100px;
    height: 100px;
}
#aside{
	position: fixed;
	top:3% !important;
    right: 0.5% !important;
    width: 23% !important;

}
footer div.container{
    position: absolute;
    top: 6%;
    width: 91%;
    padding: 16px;
}

main div.container{
    position: relative;
    top: 21%;
    left: -13%;
    width: 73%;
    height: 90%;
    padding: 16px;
}
#bottomal{
	position: relative;
	width: 73%;
    left: 14px;
}
#introduce{
	width: 73%;
}
.dl-horizontal a{
	color: #000;
}
#progress{
    height: 530px;
    z-index: 6;
}
#progresstree{
    padding: 2px;
    height: 93%;
    background-color: #e7e7e7;
    position: absolute;
    left: 50%;
}
.progresscircle{
	border-radius: 50%;
    padding: 2px;
    height: 5px;
    background-color: #a59a9a;
    position: absolute;
    left: 50%;
}
#first{
    top: 8.4%;
}

#two{
    top: 16.8%;
}
#two::before{
    height: 2px;
    position: absolute;
    content: "";
    left: -71px;
    width: 74px;
    top: 1.5px;    
    display: block;
    background-color: #b5a1a1;
}
#three{
    top: 25.2%;
}
#four{
	top: 33.6%;
}
#five{
	top: 42%;
}
#six{
	top: 50.4%;
}
#seven{
	top: 58.8%;
}
#eight{
	top: 67.2%;
}
#nine{
	top: 75.6%;
}
#ten{
	top: 84%;
}
#first::after{
    height: 2px;
    position: absolute;
    content: "";
    left: 2px;
    width: 75px;
    display: block;
    top: 1.5px;
    background-color: #b5a1a1;
}
#three::after{
    height: 2px;
    position: absolute;
    content: "";
    left: 2px;
    width: 75px;
    display: block;
    top: 1.5px;
    background-color: #b5a1a1;
}
#five::after{
    height: 2px;
    position: absolute;
    content: "";
    left: 2px;
    width: 75px;
    display: block;
    top: 1.5px;
    background-color: #b5a1a1;
}
#seven::after{
    height: 2px;
    position: absolute;
    content: "";
    left: 2px;
    width: 75px;
    display: block;
    top: 1.5px;
    background-color: #b5a1a1;
}
#nine::after{
    height: 2px;
    position: absolute;
    content: "";
    left: 2px;
    width: 75px;
    display: block;
    top: 1.5px;
    background-color: #b5a1a1;
}

#two::before{
    height: 2px;
    position: absolute;
    content: "";
    left: -71px;
    width: 74px;
    top: 1.5px;
    display: block;
    background-color: #b5a1a1;
}
#four::before{
    height: 2px;
    position: absolute;
    content: "";
    left: -71px;
    width: 74px;
    top: 1.5px;
    display: block;
    background-color: #b5a1a1;
}
#six::before{
    height: 2px;
    position: absolute;
    content: "";
    left: -71px;
    width: 74px;
    top: 1.5px;
    display: block;
    background-color: #b5a1a1;
}
#eight::before{
    height: 2px;
    position: absolute;
    content: "";
    left: -71px;
    width: 74px;
    top: 1.5px;
    display: block;
    background-color: #b5a1a1;
}
#ten::before{
    height: 2px;
    position: absolute;
    content: "";
    left: -71px;
    width: 74px;
    top: 1.5px;
    display: block;
    background-color: #b5a1a1;
}
#firstd{
	position: absolute;
    top: 6.4%;
}
#twod{
    position: absolute;
    top: 14.2%;
    left: 25%;
}
#threed{
	position: absolute;
    top: 23.1%;
}
#fourd{
    position: absolute;
    top: 31.6%;
    left: 28.3%;
}
#fived{
    position: absolute;
    top: 40%
}
#sixd{
    position: absolute;
    top: 48.4%;
    left: 24.6%;
}
#sevend{
	position: absolute;
    top: 56.8%;;
}
#eightd{
    position: absolute;
    top: 65.2%;
    left: 24.6%;
}
#nined{
    position: absolute;
    top: 73.6%;
}


.right{
	left: 57.9%;
}
#close{
	position: absolute;
    left: 92%;
    font-size: 20px;
}
#twod:hover{
	padding: 11px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
	color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
	transform: rotateZ(7deg);
	transition-delay: 0.1s;
	transition-timing-function: ease-in-out;
}
footer{
    position: absolute;
    width: 86%;
    height: 79%;
    left: 6%;
    top: 100%;
    border: 1px solid #e7e7e7;
    border-radius: 17px;
    z-index: 8;
    background: #ffffff;
    box-shadow: 15px 15px 24px #e7e7e7;
    display: none;
    visibility: hidden;
}
@media (max-width:880px){
    #aside{
      display: none;
    }
    main div.container{
    position: relative;
    top: 21%;
    left: 0px;
    width: 100%;
    height: 90%;
    padding: 16px;
    }
    #bottomal {
    position: relative;
     width: 100%; 
     left:0px; 
    }
    #introduce {
     width: 100%;
    }
}
@media (max-width: 762px){

}
