#asideassist{
	position: absolute;
	width: 15%;
}
#contentmain{
	margin-left: 16%;
}
#contentmain img{
	width: 60%;
	height: 40%;
}
#asideassist .glyphicon{
    margin-right: 6px;
}

.box-shadow {
	width: 99%;
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    border: 1px solid #fff;
    box-shadow: 1px 4px 5px 1px rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
    background-color: white;
}
.jumbotron {
	margin-top: 30px;
}
@media (max-width: 880px){
    #asideassist a span:last-child{
	  display: none;
    }
    #asideassist .glyphicon{
      display: block;
      position: relative;
      margin-left: 9px;
    }
    .box-shadow {
      margin-top: 14px; 
    }
    #contentmain h1{
    	font-size: 19px;
    }
    #contentmain h2{
    	font-size: 16px;
    }
    #contentmain h3 {
       font-size: 14px;
    }
}
